{% extends 'BaazaarBaazaarBundle::layout.html.twig' %}

{% block title %}Create ad{% endblock %}

{% block body %}
    <div class="row">
      {{ form_start(form) }}
         {{ form_errors(form) }}

         {{ form_rest(form) }}
         <input type="submit" value="Submit">
      {{ form_end(form) }}
    </div>



{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script>
  var $price_type = jQuery('#ad_price_price_type');
  // When sport gets selected ...
  $price_type.change(function() {
    // ... retrieve the corresponding form.
    var $form = jQuery(this).closest('form');
    // Simulate form data, but only include the selected price_type value.

    // Submit data via AJAX to the form's action path.
    jQuery.ajax({
      url : $form.attr('action'),
      type: $form.attr('method'),
      data : $(this).serialize(),
      success: function(html) {

        // Replace current position field ...
        jQuery('#ad_price').replaceWith(
          // ... with the returned one from the AJAX response.
          jQuery(html).find('#ad_price')
        );

      }
    });
  });
  </script>


  <script>
    $(function(){

      var typingTimer;                //timer identifier
      var doneTypingInterval = 100;  //time in ms, 5 second for example
      var $input = $('#ad_locations');
      var $input_value = $('#ad_location');

      //on keyup, start the countdown
      $input.on('keyup', function () {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(getLocations, doneTypingInterval);
      });

      //on keydown, clear the countdown
      $input.on('keydown', function () {
        clearTimeout(typingTimer);
      });

      function getLocations() {
        $.ajax({
          url : "{{ path('baazaar_baazaar_search_location') }}",
          type: 'GET',
          data : {
            keyword: $input.val()
          },
          success: function(data) {
            $('.locations-list').remove();
            var list = '<ul class="locations-list">';
            for (loc in data) {
                list += '<li data="' + data[loc].id + '">' + data[loc].zip + ' - ' + data[loc].name + '</li>';
            }
            list += '</ul>'
            $input.parent().append(list);

            $('.locations-list li').click(function() {
                $input.val($(this).html());
                $input_value.val(parseInt($(this).attr('data')));
                $('.locations-list').remove();
            });

          }
        });
      }
    });
</script>
{% endblock %}
