<div class="facet">
    <h2 class="facet---title">{{ facetTitle }}</h2>
    <ul>
        {% if facet.buckets is defined %}
          {% for bucket in facet.buckets %}
              <li>
                <span class="facet--filter">
                  <input type="checkbox"
                      {% if filters[facetTitle] is defined and bucket.key in filters[facetTitle]['value'] %} checked="checked" {% endif %}
                      {% if bucket.doc_count == 0 %} disabled="disabled" {% endif %}
                      name="filter[{{ facetTitle }}][]"
                      value="{{ bucket.key }}"/>
                  <span class="facet--filter__text">{{ bucket.key }}
                      <span class="facet--filter__count">( {{ bucket.doc_count }} )</span>
                  </span>
                </span>
              </li>
          {% endfor %}
        {% else %}
              {% for key,val in facet %}
                {% if facet[key]['buckets'] is defined %}
                  {% for bucket in facet[key].buckets %}
                    <li>
                        <span class="facet--filter">
                          <input type="checkbox"
                            {% if filters[key] is defined and bucket.key in filters[key]['value'] %} checked="checked" {% endif %}
                            {% if bucket.doc_count == 0 %} disabled="disabled" {% endif %} name="filter[{{ facetTitle }}][{{ key }}][]" value="{{ bucket.key }}"/>
                            <span class="facet--filter__text">{{ bucket.key }}
                            <span class="facet--filter__count">( {{ bucket.doc_count }} )</span>
                          </span>
                        </span>
                    </li>
                  {% endfor %}
                {% endif %}
              {% endfor %}
        {% endif %}
    </ul>
</div>
