{% extends 'BaazaarBaazaarBundle::layout.html.twig' %}

{% block body %}
<div class="row">
     <div class="medium-6 columns small-centered">
      {% for flashMessage in app.session.flashbag.get('notice-login') %}
          <div class="flash-notice">
              {{ flashMessage }}
          </div>
      {% endfor %}
          <div class="block clearfix login">
             <div class="block--header">
                 Stuur bericht
             </div>
             <div class="block--content ">
                 <div class="row ">
                   <div class="medium-10 columns small-centered">
                    <p>
                      Bericht verzenden naar {{ ad.owner.username }} over het zoekertje <a href="{{ path('baazaar_baazaar_ad', {'slug' : ad.slug }) }}">{{ ad.title }}</a>
                    </p>
                     {{ form_start(form) }}
                        {{ form_errors(form) }}

                        {{ form_rest(form) }}
                        <input class="button" type="submit" value="Verstuur">
                     {{ form_end(form) }}
                   </div>
                 </div>
             </div>
             <div class="block--footer"></div>
 </div>
</div>

{% endblock %}
