{% extends 'BaazaarBaazaarBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="medium-3 columns">
            {{ render(controller('BaazaarBaazaarBundle:Page:sidebar')) }}
        </div>
         <div class="medium-9 columns">
                 <div class="search-results">
                    {% for ad in ads%}
                      <div class="media-object search-result">
                          <div class="media-object-section">
                            <div class="thumbnail">
                              {% set firstFile = ad.files|first %}
                              {% if firstFile %}
                                  <img width="100px" src="{{asset('uploads/' ~ firstFile.path) }}" alt="first image">
                              {% endif %}
                            </div>
                          </div>
                        <div class="media-object-section main-section">
                          <h4>
                            <a href="{{path('baazaar_baazaar_ad', {'slug' : ad.slug } ) }}">
                              {{ ad.title}}
                            </a>
                          </h4>
                          <p>
                            {{ad.body}}
                          </p>
                          <ul class="menu align-left search-result--details">
                              <li>Geplaatst op: {{ ad.createdAt|date('d M Y - H:i')}}</li>
                          </ul>
                          <ul class="menu align-right search-result--details">
                            {% set firstCategory = ad.categories|first %}
                            {% if firstCategory %}
                                <li><a href="{{ url('baazaar_baazaar_category', {'id': firstCategory.id} )}}"> {{firstCategory.title}} </a></li>
                            {% endif %}
                          </ul>
                        </div>
                    </div>
                    {% endfor %}
                 </div>
         </div>
    </div>
{% endblock %}
