<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/baazaarbaazaar/css/foundation.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/baazaarbaazaar/css/foundation-icons/foundation-icons.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/baazaarbaazaar/css/style.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      <header class="header">
            <div class="nav-top">
              <div class="row">
                <div class="logo nav-top--left medium-3 columns">
                    <a href="{{ url('baazaar_baazaar_homepage') }}"> Baazaar </a>
                </div>

                <div class="nav-top--right medium-6 columns">
                    <ul class="menu align-right">
                      <li><a href="{{ path('baazaar_baazaar_about') }}">about</a></li>
                      <li><a href="{{ path('baazaar_baazaar_contact') }}">contact</a></li>
                      <li>
                          {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                             <ul class="dropdown menu user--menu" data-dropdown-menu>
                              <li>
                                <a href="#">{{ app.user.username }}</a>
                                <ul class="menu">
                                  <li><a href="#">Zoekertjes</a></li>
                                  <li><a href="#">Berichten</a></li>
                                  <li><a href="#">Biedingen</a></li>
                                  <li><a href="#">Profiel</a></li>
                                  <li><a href="#">Favorieten</a></li>
                                </ul>
                              </li>
                            </ul>
                          {% else %}
                              <a class="button" href="{{ path('baazaar_user_login') }}">Login</a>
                          {% endif %}
                      </li>
                    </ul>
                </div>
              </div>
            </div>
            <div class="nav-primary ">
              <div class="row">
                <ul class="menu medium-3 columns">
                    <li>Alle Categorieën</li>
                </ul>
                <div class="medium-6 columns">
                  <form>
                    <input type="text" placeholder="zoeken naar product"/>
                    <!--<input type="submit" />-->
                  </form>
                </div>
                <div class="medium-3 columns">
                    <a href="#">geavanceerd zoeken</a>
                </div>
              </div>
            </div>
     </header>
    <div class="wrapper">
            {% block body %}{% endblock %}
    </div>

        {% block javascripts %}
            <script src="{{ asset('bundles/baazaarbaazaar/js/vendor/jquery.js') }}"></script>
            <script src="{{ asset('bundles/baazaarbaazaar/js/vendor/what-input.js') }}"></script>
            <script src="{{ asset('bundles/baazaarbaazaar/js/vendor/foundation.min.js') }}"></script>
            <script>
              $(document).foundation();
            </script>
        {% endblock %}
    </body>
</html>
