{% extends 'BaazaarBaazaarBundle::layout.html.twig' %}

{% block body %}
<div class="row">
      <div class=" medium-3 columns">
          {% include 'BaazaarBaazaarBundle:User:user-menu.html.twig' %}
      </div>
      <div class="medium-9 columns">
        <div class="block">
          <div class="block--header">
            Mijn biedingen
          </div>
          <div class="block--content">
              <div class="products--list">
                {% for bid in bids %}
                <div class="row">
                  <div class="large-2 columns">
                    {% set firstFile = bid.ad.files|first %}
                    {% if firstFile %}
                      <a href="{{ path('baazaar_baazaar_ad', {'slug' : bid.ad.slug}) }}"> <span> </span><img src="{{asset('uploads/' ~ firstFile.path) }}" alt="product cover" class=" thumbnail"></a>
                    {% else %}
                      <a href="{{ path('baazaar_baazaar_ad', {'slug' : bid.ad.slug}) }}"> <span> </span><img src="http://placehold.it/150x200&text=ad cover" alt="product cover" class=" thumbnail"></a>
                    {% endif %}
                  </div>
                  <div class="large-10 columns">
                    <div class="row">
                      <div class=" large-4 columns">
                        <h5><a href="{{ path('baazaar_baazaar_ad', {'slug' : bid.ad.slug}) }}">{{ bid.ad.title }} </a></h5>
                        <p>{{ bid.ad.body }}</p>
                      </div>

                      <div class=" large-8 columns">
                        <table class="bidding--details">
                            <thead>
                              <tr>
                                <th># biedingen</th>
                                <th>Uw bod</th>
                                <th>Hoogste bod</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>{{ bid.ad.bids|length }}</td>
                                <td>&euro;{{ bid.amount }}</td>
                                <td>
                                  {% set maxBid = 0 %}
                                  {% for bid in bid.ad.bids %}
                                      {% set maxBid = max(bid.amount, maxBid) %}
                                  {% endfor %}
                                  &euro;{{maxBid}}
                                  </td>
                              </tr>
                            </tbody>
                        </table>
                      </div>
                      <div class="row">
                        <div class=" large-6 columns">
                              <ul>
                                <li><strong>&euro; </strong>{{ bid.ad.price.amount }}</li>
                                <li><strong><i class="fi-clock"></i>&nbsp;</strong> {{ bid.ad.createdAt|date('d M Y - H:i') }}</li>
                              </ul>
                        </div>
                        <div class=" large-6 columns">
                              <ul>
                                <li><strong><i class="fi-marker"></i>&nbsp; </strong>kapellen, antwerpen</li>
                                <li>
                                  {% set firstCategory = bid.ad.categories|first %}
                                  {% if firstCategory %}
                                      <strong><i class="fi-filter"></i>&nbsp;</strong><a href="{{ url('baazaar_baazaar_category', {'id': firstCategory.id} )}}"> {{firstCategory.title}} </a>
                                  {% endif %}
                                </li>
                              </ul>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                {% endfor %}
              </div>
            </div>
            <div class="block--footer">

            </div>
          </div>
      </div>
</div>
{% endblock %}
